<section id="banner">
    <h2>@Resource.Home</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <ul class="actions">
        <li>
            <a href="#" class="button big">Lorem ipsum dolor</a>
        </li>
    </ul>
</section>